* {padding:0; margin:0;}

body {
font-size: 16px;
font-family: Arial;
color: #000000;    
}

#wrapper {
margin-top: 20px;
margin-left: 20px;    
width: 530px;
border: 1px solid #8ca383;    
}

p { 
margin-bottom:15px;
padding-left: 15px; 
padding-right: 15px;    
}

#first, #second, #third {
padding:10px;
background: #FFFFFF;
}

.title li {
list-style:none;
display:inline;
}

.title a {
width: 467px;
margin: 6px;    
padding:6px 10px 7px 40px;
display:inline-block;
background:#cb3f0b ;
color:#FFFFFF;
font-weight: bold;    
text-decoration:none;
border-radius: 6px;
}

.title li a {
/*background: url(images/plus.png) left top no-repeat;*/
background-image: url("images/plus.png");
background-repeat: no-repeat;
background-position: 6px 4px;    
}

.title a.active {
background:#fcaa3b;
color:#FFFFFF;
background-image: url("images/minus.png");
background-repeat: no-repeat;
background-position: 6px 4px; 
border-radius: 6px 6px 0 0;
}